{% extends 'base.html.twig' %}
{% block title %}
SymRecipe -
    {{ recipe.name }}
{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="mt-4">
            {{ recipe.name }}
        </h1>
        <div class="mt-4 recipe_image">
            <img style="max-width: 500px;" src="{{ vich_uploader_asset(recipe,'imageFile') }}" alt="">
        </div>
        {% if recipe.average %}
        <p>Note {{ recipe.average|number_format(2, '.', ',') }} /5</p>
        {% else %}
            <p>Cette recette n'a pas encore était noté</p>
        {% endif %}
        <div class="mt-4">
            <span class="badge bg-primary">Créer le {{ recipe.createdAt | date('d/m/y')}}</span>
        </div>
        <div class="mt-4">
            {% if recipe.time %}
                <p>Temps (en minute) : {{ recipe.time | min_to_hour }}</p>
            {% else %}
                <p>Aucun temps n'as était renseigner</p>
            {% endif %}
        </div>
        <div class="mt-4">
            {% if recipe.nbPeople %}
                <p>Pour un nombre de : {{ recipe.nbPeople }} Personne</p>
            {% else %}
                <p>Aucun nombre de personnes n'a été renseigner</p>
            {% endif %}
        </div>
        <div class="mt-4">
            {% if recipe.difficulty %}
                <p>la dificulter est estimer as : {{ recipe.difficulty }} /5</p>
            {% else %}
                <p>dificulter non renseigner</p>
            {% endif %}
        </div>
        <div class="mt-4">
            {% if recipe.price %}
                <p>Pour un prix de : {{ recipe.price|number_format(2, '.', ',') }} €</p>
            {% else %}
                <p>prix non renseigner</p>
            {% endif %}
        </div>
        <div>description : {{ recipe.description | raw }} </div>
        <p class="mt-4">Ingrédient :</p>
        {% for ingredient in recipe.ingredients %}
            <span class="badge bg-primary">{{ ingredient.name }}</span>
        {% endfor %}
        {{ form(form) }}
    </div>

{% endblock %}


